*{
    margin: 0;
    padding: 0;
    background-color: #ffebb2;
}

.main-div{
    display: flex;
    justify-content: flex-start;
}

.image img{
    width: 700px;
    background-size: cover;
    height:max-content;
    border-bottom-right-radius: 100px;
}

.main_2{
}